# Lines starting with '#' are considered comments.
Makefile
Makefile.old
META.yml
MYMETA.*
MANIFEST
pm_to_blib
blib/
*.tmp
*~
*.log
*.bs
*.o
*.xsi
Firebird.c
t/tests-setup.tmp.*
t/create.sql
t/insert.sql
t/test.conf

var/*
embed/
t/embed-*
fb_init
